<div class="col-md-3 col-sm-4 layout-sidebar">

        <div class="nav-layout-sidebar-skip">
          <strong>Tab Navigation</strong> / <a href="#settings-content">Skip to Content</a> 
        </div>

        <ul id="myTab" class="nav nav-layout-sidebar nav-stacked">
          <li class="active">
            <a href="#profile-tab" data-toggle="tab">
              <i class="fa fa-user"></i> 
              &nbsp;&nbsp;Profile Settings
            </a>
          </li>

          <li>
            <a href="#social-tab" data-toggle="tab">
              <i class="fa fa-lock"></i> 
              &nbsp;&nbsp;Social Media
            </a>
          </li>

          <li>
            <a href="#password-tab" data-toggle="tab">
              <i class="fa fa-lock"></i> 
              &nbsp;&nbsp;Change Password
            </a>
          </li>

          <li>
            <a href="#messaging" data-toggle="tab">
              <i class="fa fa-bullhorn"></i> 
              &nbsp;&nbsp;Notifications
            </a>
          </li>

          <li>
            <a href="#payments" data-toggle="tab">
              <i class="fa fa-dollar"></i> 
              &nbsp;&nbsp;Payment Settings
            </a>
          </li>

          <li>
            <a href="#reports" data-toggle="tab">
              <i class="fa fa-signal"></i> 
              &nbsp;&nbsp;Configure Reports
            </a>
          </li>
        </ul>

      </div> <!-- col-md-3 -->