<script>
$(document.body).addClass('account-bg');
</script>

<br class="xs-80">

<div class="account-wrapper">

	<div class="account-body">

		<h3>Welcome back to the Ecosystem.</h3>

		<h5>Please sign in to get access.</h5>

		<br>

		<div class="row">	

			<div class="col-sm-12">
				<a href="/users/auth/linkedin" class="btn btn-twitter btn-block">
					<i class="fa fa-linkedin"></i>
					&nbsp;&nbsp;Login with LinkedIn
				</a>
			</div>

		</div>

		<span class="account-or-social text-muted">OR, SIGN IN BELOW</span>

      <form id="new_user" class="form account-form" method="post" accept-charset="UTF-8" action="/users/sign_in">
        <div class="form-group">
          <label for="user_email" class="placeholder-hidden">Email</label>
          <input type="text" class="form-control" name="user[email]" id="user_email" placeholder="Email" tabindex="1">
        </div> <!-- /.form-group -->

        <div class="form-group">
          <label for="user_password" class="placeholder-hidden">Password</label>
          <input type="password" class="form-control" name="user[password]" id="user_password" placeholder="Password" tabindex="2">
        </div> <!-- /.form-group -->

        <div class="form-group clearfix">
          <div class="pull-left">					
            <label class="checkbox-inline">
            <input type="checkbox" name="user[remember_me]" class="" value="" tabindex="3"> <small>Remember me</small>
            </label>
          </div>

          <div class="pull-right">
            <small><a href="/users/password/new">Forgot Password?</a></small>
          </div>
        </div> <!-- /.form-group -->

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block btn-lg" tabindex="4">Signin &nbsp; <i class="fa fa-play-circle"></i></button>
        </div> <!-- /.form-group -->

      </form>

    </div>

    <div class="account-footer">
      <p>
      Don't have an account? &nbsp;
      <a href="/users/sign_up" class="">Create an Account!</a>
      </p>
    </div> <!-- /.account-footer -->
</div>