<script>
$(document.body).addClass('account-bg');
</script>

<br class="xs-80">

<div class="account-wrapper">

	<div class="account-body">

      <h2>Password Reset</h2>

      <h5>We'll email you instructions on how to reset your password.</h5>

     <form id="new_user" class="form account-form" method="post" accept-charset="UTF-8" action="/users/password">
        <div class="form-group">
          <label for="forgot-email" class="placeholder-hidden">Your Email</label>
          <input type="text" class="form-control" name="user[email]" id="forgot-email" placeholder="Your Email" tabindex="1">
        </div> <!-- /.form-group -->

        <div class="form-group">
          <button type="submit" class="btn btn-secondary btn-block btn-lg" name="commit" tabindex="2">
            Reset Password &nbsp; <i class="fa fa-refresh"></i>
          </button>
        </div> <!-- /.form-group -->

        <div class="form-group">
          <a href="/users/sign_in"><i class="fa fa-angle-double-left"></i> &nbsp;Back to Login</a>
        </div> <!-- /.form-group -->
      </form>

    </div> <!-- /.account-body -->

</div> <!-- /.account-wrapper -->
