<table>
  <tr>
    <form class="mainnav-form" role="search" action="/activity" method="get">
      <input type="text" class="form-control input-md mainnav-search-query" name="tag" value="<%= @tag %>" placeholder="Search by tag">
      <button class="btn btn-sm mainnav-form-btn"><i class="fa fa-search"></i></button>
    </form>
  </tr>

  <tr>
    <ul>
      <% @activities.each do |activity| %>
      <li><%= link_to activity.poster_name, user_path(activity.user) %> just posted a new <%= link_to(activity.postable_type,
      activity.path) %>: <%= activity.preview %></li>
      <% end %>
    </ul>
  </tr>
</table>
